@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    font-family: "IBM Plex Mono", monospace;
}

p {
    font-size: 1rem;
    margin: 20px 0 8px 0;
    font-weight: normal;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 12px 20px;
    position: relative;

    & .nav-middle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        img {
            height: 2rem;
        }
    }

    & .nav-left, .nav-right {
        display: flex;
        align-items: center;
    }

}

